#root {
  background-color: #95d5b21d;
}

.logo-img {
  width: 230px;
  height: 60px;
  object-fit: contain;
}

/* Responsive: achica el logo en pantallas chicas */
@media (max-width: 576px) {
  .logo-img {
    width: 150px;
    height: 50px;
  }
  
}
